# Expose Astro dependencies for `pnpm` users
shamefully-hoist=true

# Important! Never install `@topic.dev/*` even when new version is in registry
prefer-workspace-packages=true
link-workspace-packages=true
# This prevents the examples to have the `workspace:` prefix
save-workspace-protocol=false
